@layer utilities {
  .no-scroll { overflow: hidden; }

  [hidden] { display: none !important; }

  .to-top {
    font-size: var(--step--1);
    text-decoration: none;
  }
  .to-top:hover { text-decoration: underline; text-decoration-color: var(--kraft); }
}
