@layer utilities {
  .visually-hidden {
    position: absolute !important;
    width: 1px; height: 1px;
    padding: 0; margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
    border: 0;
  }

  .no-scroll { overflow: hidden; }

  .container-narrow { max-width: 46rem; }

  [hidden] { display: none !important; }

  .to-top {
    font-size: var(--step--1);
    text-decoration: none;
  }
  .to-top:hover { text-decoration: underline; text-decoration-color: var(--kraft); }
}
